<nav class="navbar bg-dark">
  <ul class="nav nav-pills container justify-content-start">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/characters" routerLinkActive="active">Characters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/locations" routerLinkActive="active">Locations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/episodes" routerLinkActive="active">Episodes</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
